.git
.gitignore
.gcloudignore
.dart_tool
.idea
.vscode
**/bin
**/obj
build
coverage
.env
.env.*
*.apk
*.aab
*.jks
*.keystore
*.zip
android
lib
test
docs
google-cloud
sensor-examples
AI
web
release
SmartParking.Tests
android/app/google-services.json
android/local.properties
firebase-service-account*.json
pubspec.yaml
pubspec.lock
*.ps1
render.yaml
cloudbuild.yaml
